.navbar-brand {
    height: 10%;
    line-height: 180%;

}

.navbar-nav li a{
    height: 10%;
    line-height: 350%;

}
.navbar { 
    font-family: 'Modern Antiqua', cursive;
    font-size: 110%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.pieDePagina{
    font-family: 'Philosopher', sans-serif;
    background:black;
}

footer .container{
  padding-top:1%;
  padding-bottom:1%; 
}

footer .textH3{
    text-align: center;
    font-size: 150%;
    color: aliceblue;
}

footer .textH4{
    color:#848484;
}

.fab {
    font-size: 35px;
    color: white;    
}

.container{
    padding-top:15%;
    padding-bottom:8%;
}

.container .textH2{
    font-family: 'Modern Antiqua', cursive;
    font-size: 300%;
}

.form-group{
    font-family: 'Philosopher', sans-serif;
    font-size: 130%;
}

section.sections1{
    background-color: #E6E6E6;
    background: linear-gradient(to bottom right, #A9F5BC, #FFF);
}


