body{
   background: url(../img/contacto.jpg)  fixed center;
   background-size: cover;
   height: auto;
   width: 100% ;    
   color:white;
}
.navbar-brand {
    height: 10%;
    line-height: 180%;
    padding: 10px;
}

.navbar-nav li a{
    height: 10%;
    line-height: 350%;
}

.navbar { 
    font-family: 'Modern Antiqua', cursive;
    font-size: 110%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.btn {
    font-family: 'Philosopher', sans-serif;
    font-size: 110%;
    background: linear-gradient(to bottom right, #F8E0E0, #FFF);
}

.pieDePagina{
    font-family: 'Philosopher', sans-serif;
    background:black;
}

footer .container{
  padding-top:1%;
  padding-bottom:1%; 
}

footer .textH3{
    text-align: center;
    font-size: 150%;
    color: white;
}

footer .textH4{
    color:#848484;
}

.fab {
    font-size: 35px;
    color: white;    
}

.container{
    padding-top:15%;
    padding-bottom:8%;
}

.container .textH2{
    font-family: 'Modern Antiqua', cursive;
    font-size: 300%;
}

.form-group{
    font-family: 'Philosopher', sans-serif;
    font-size: 130%;
}
