.navbar-brand {
    height: 10%;
    line-height: 180%;
        padding: 10px;

}

.navbar-nav li a{
    height: 10%;
    line-height: 350%;

}

.navbar { 
    font-family: 'Modern Antiqua', cursive;
    font-size: 110%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.pieDePagina{
    font-family: 'Philosopher', sans-serif;
    background:black;
}

footer .container{
  padding-top:1%;
  padding-bottom:1%; 
}

footer .textH3{
    text-align: center;
    font-size: 150%;
    color: aliceblue;
}

footer .textH4{
    color:#848484;
}

.fab {
    font-size: 35px;
    color: white;    
}

.container{
    padding-top:9%;
    padding-bottom:8%;
}

.container .textH1{
    font-family: 'Modern Antiqua', cursive;
    font-size: 300%;
}

.container .textH2{
    font-family: 'Modern Antiqua', cursive;
    font-size: 250%;
}

.container .textBoton{
    font-family: 'Philosopher', sans-serif;
    font-size: 20px;
}

.container .textUl{
    font-family: 'Philosopher', sans-serif;
    font-size: 130%;
    text-align: left;
}

.form-group{
    font-family: 'Philosopher', sans-serif;
    font-size: 130%;
}

section.sections{
    background-color: #FFF;
    background: linear-gradient(to bottom right, #F8E0E0, #FFF);
}

section.sections1{
    background-color: #E6E6E6;
    background: linear-gradient(to bottom right, #FFF, #E6E6E6);
}

.btn-default{
     
    border-color: #717374;
    font-family: 'Philosopher', sans-serif;
    background: linear-gradient(to bottom right, #E0E6F8, #F8E6E0);
}

.btn-default:hover{
    border-color: #717374;
}

.containerB {
  position: relative;
}

.containerB .btn {
  margin-top: 9%;
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #819FF7;
}

.containerB:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Modern Antiqua', cursive;
}

.modal-title{
    font-family: 'Modern Antiqua', cursive;
    text-align-last: center;
    font-size: 180%;
}

.modal-body{
    font-family: 'Philosopher', sans-serif;
}

