.navbar-brand {
    height: 10%;
    line-height: 180%;

}

.navbar-nav li a{
    height: 10%;
    line-height: 350%;

}
.navbar { 
    padding-bottom: 0;
    margin-bottom: 0;
}

header.masthead{
    text-align:center;
    color:#fff;
    background-image:url(../img/Principal.jpg);
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:center center;
    background-size:cover
}

header.masthead .intro-text {
    padding-top:12%;
    padding-bottom:12%
}

header.masthead .intro-text .intro-lead-in{
    font-family: 'Modern Antiqua', cursive;
    font-size: 280%;
}

header.masthead .intro-text .intro-heading{
    font-family: 'Merienda', cursive;
    font-size: 430%;
}

section.sections{
    background-color: #FFF;
    background: linear-gradient(to bottom right, #E0E6F8, #FFF);
}

section.sections1{
    background-color: #E6E6E6;
    background: linear-gradient(to bottom right, #FFF, #E6E6E6);
}

.container{
    padding-top:10%;
    padding-bottom:10%;
}

.container .textH2{
    font-family: 'Modern Antiqua', cursive;
    font-size: 230%;
}

.container .textP{
    font-family: 'Philosopher', sans-serif;
    font-size: 130%;
}

.container .textUl{
    font-family: 'Philosopher', sans-serif;
    font-size: 130%;
    text-align: left;0
}


.img1 {
    border: ridge Black;
    border-radius: 2em/3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img2 {
    border-radius: 20%;
    margin-left: 30%;
}
.pieDePagina{
    padding-top:5%;
    padding-bottom:5%;
    background:black;
}